@import 'jeet';
@import('../../../common/variables.styl');
@import('../../../common/zigzag.styl');

$base
  @import '../../_base/stylesheet/_base.styl';

.achievements
  @extend $base .base;
  article
    margin-bottom: 2%;
    h3
      color: $lightblue
      margin-top: 0;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 1%;
      +desktop()
        column(1/3);
    ul
      +desktop()
        display: table-cell
        float: none
