@import 'jeet';
@import('../../../common/variables.styl');
@import('../../../common/zigzag.styl');

.achievements
  wrapper();
  h2
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
  article
    margin-bottom: 2%;
    h3
      color: $lightblue
      margin-top: 0;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 1%;
      +desktop()
        column(1/3);
    ul
      +desktop()
        display: table-cell
        float: none
