@import 'jeet';
@import('../../../common/variables.styl');
@import('../../../common/zigzag.styl');

.base
  wrapper();
  h2
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
