@import('../../../common/variables.styl');

.intro
  wrapper()
  h2
  h3
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  .tagLine
    margin-bottom: 10px;
  h3
    color: $lightblue;
