@import('../../../common/variables.styl');
@import('../../../common/zigzag.styl');

col(n)
  li
    column(1/n, $cycle: n)

page(n)
  +above(rupture.mobile-cutoff)
    column(1/n, $cycle: n)

.skills
  h2
    text-transform: uppercase;
    font-weight: bold;

.col3
  col(3)

.col2
  col(2)

.halfpage
  page(2)

.thirdpage
  page(3)
