@require 'icon.styl';
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400')


$lightblue = lightblue;
$lightgrey = lightgrey;

html {
  font-family: 'Oswald', sans-serif;
}

wrapper()
  center(350px)
  +above(rupture.mobile-cutoff)
    center(800px)
  +above(rupture.desktop-cutoff)
    center(1000px)
